<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Drunken Recipes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
</head>


    <body>

    

<a href="/toad"><img class="toad-page" src="/images/hipnotoad.gif"></a>
</body>

</html>